
body {
    width: 100%;
    min-height:100vh;

    font-family: 'EB Garamond', serif, Lora,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	color: #ffffff !important;
	background-color: black;
	min-height:100vh;
}

html {
    width: 100%;
}

.main-content{
	
	padding:50px 0;
}

#header{
	background: linear-gradient(
				  rgba(0, 0, 0, 0.2), 
				  rgba(0, 0, 0, 0.2)
				), 
				url(../img/07.jpg) no-repeat center center scroll;
	background-size: cover;
}

#bio{
	background: rgb(114, 123, 111);
}

#music{
	background: rgb(183, 161, 149);
}

#video{
	background: rgb(64, 75, 79);
}

#contact{

	background-image: linear-gradient(
				  rgba(0, 0, 0, 0.2), 
				  rgba(0, 0, 0, 0.2)
				), url(../img/contactbg.jpg);
	background-attachment: scroll;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */

}

#brand{
	font-size: 1.5rem;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0;
}

.underline-separator{
    content: ''; 
	bottom: 0; 
	left: 30%; 
	right: 30%; 
	height: 2px; 
	background: white; 
	display: block; 
	width: 10vw; 
	position: static; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 0vw;
	min-width:10px;
}

#header-title{
	font-size: 3rem;
}

.img-bio{
	width:27.5vw;
	max-width:48%;
	height:100%;
	object-fit: cover;
	object-position: center;
}

#img-bio2{
	max-height:450px;
}

.separator-bio{
	height:50px;
}


p.bio{
	text-indent: 5vw;
	vertical-align: top;
}

.line-separator{
	height:1px;
	background:white;
	border-bottom:2px solid white;
	margin: 1vw 0px;
}

img.release-cover{
	max-width: 80vw;
	width:450px;
}

.social-media-icon:hover{
	opacity: 0.8;
}

.social-media-icon > img{
	width: 32px;
}

.video{
	width:800px;
	max-width:100vw;
}

/* bootstrap override */
.btn{
	border-width: 2px !important; 
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
	font-weight:bold;
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
	
}

.nav-item:not(.active) > a.nav-link{
	color:#DADADA ;
}

.nav-item.active > a.nav-link{
	font-weight:bold;
}

.navbar-nav > .nav-item > a.nav-link:hover{
	color:#FFFFFF ; 
}