<section id="bio">
	<div class="container-fluid d-flex align-items-center justify-content-center" >
		<div class="row no-gutters">
			<div class="text-center">
				<h1 class="text-uppercase mb-5">Behind the music</h1>
				<p>photos by Brislee Adams</p>
				<p>Vocals, Guiter / Ash Orphan</p>
				<p class="mt-5">Collaborations</p>
				<p>Cello / marion Elan Trigo</p>
				<p>Violin / Jake Weinsoff</p>
			</div>
		</div>
	</div>
	<div class="container-fluid d-flex align-items-center" id="imgs-bio">
	  <div class="row justify-content-around">
		 <div class="col-sm"><img class="img-bio" src="../img/03.jpg"></div>
		 <div class="col-sm"><img class="img-bio" src="../img/04.jpg"></div>
		 <div class="col-sm"><img class="img-bio" src="../img/02.jpg"></div>
		 <div class="col-sm"><img class="img-bio" src="../img/06.jpg"></div>
	  </div>
	</div>
</section>