<head>

	<meta charset="UTF-8">	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
	<meta http-equiv="Content-Language" content="{{page.lang}}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 300 }}{% else %}{{ site.description[page.lang] }}{% endif %}">
	
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:type" content="Website" />
	<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 300 }}{% else %}{{ site.description[page.lang] }}{% endif %}">
	<meta property="og:url" content="{{site.url}}" />
	<meta property="og:locale" content="{{site.data.translations[page.lang]._locale}}" />
	<meta property="og:image" content="{{ '/img/social/og-image-square.jpg' | absolute_url }}">
	<meta property="og:image:width" content="279">
	<meta property="og:image:height" content="279">
	
	<!-- alternate languages -->
	{% assign pageslang=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
	{% for pagelang in pageslang %}
		<link rel="alternate" hreflang="{{ pagelang.lang }}" href="{{ pagelang.url }}" />
	{% endfor %}

	<link rel="icon" type="image/jpeg" href="{{'/img/favicon/favicon.jpg' | relative_url}}" />
	
	<!-- css -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,700" rel="stylesheet">
	<!-- HTML5 player -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.9/mediaelementplayer.min.css" />
	
	<link rel="stylesheet" type="text/css" href="{{'/css/main.css' | relative_url}}" />
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127022623-1"</script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-127022623-1');
	</script>
</head>
