<nav class="container navbar navbar-expand-lg navbar-dark  bg-transparent  text-center  fixed-top ">
  <a class="navbar-brand text-light scroll-link" href="#header">Ash Orphan</a>
  <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link scroll-link" href="#bio">Bio</a>
      <a class="nav-item nav-link scroll-link" href="#tour">Tour</a>
	  <a class="nav-item nav-link scroll-link" href="#music">Music</a>
      <a class="nav-item nav-link scroll-link" href="#contact">contact</a>
    </div>
  </div>
  
</nav>