<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll"  data-offset="200">
  {% include nav.html %}
  {% include header.html %}
  {% include bio.html %}
  {% include tour.html %}
  {% include music.html %}
  {% include contact.html %}

{% comment %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include feature.html %}
  {% include quote.html %}
  {% include aside.html %}
  {% include contact.html %}
  
  {% endcomment  %}
  
  {% include scripts.html %}
</body>

</html>
